<template>
  <v-card class="mx-auto" max-width="434" tile>
    <v-img
      height="100%"
      src="https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000"
      cover
    ></v-img>
    <v-col>
      <v-avatar size="150" style="position: absolute; top: 130px" rounded="0">
        <v-img
          src="https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/301153483_1710227706020084_8249098018760470456_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=k3o9jd7h3RIAX_Nnnb8&_nc_ht=scontent.fbkk28-1.fna&oh=00_AfDSP4Ede2u8eervKTpVFucNmNBhiyTefxDEWf5PHdQLWA&oe=643D6F8D"
        ></v-img>
      </v-avatar>
    </v-col>
    <v-container>
      <v-row>
        <v-col>
          <v-table>
            <thead>
              <tr>
                <td>ประวัติการศึกษา</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ชื่อ:</td>
                <td>นายจุลดิศ แก้วรุ่งเรือง</td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
              <tr>
                <td>จบการศึกษาจาก:</td>
                <td>โรงเรียนมหรรณพาราม</td>
              </tr>
              <tr>
                <td>สิ่งที่เราสนใจ:</td>
                <td>เขียนเว็บ, Full stack</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
