<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { computed, ref } from "vue";
const frameList = ref([
  {
    name: "VueJS",
    img: "https://img.icons8.com/color/512/vue-js.png",
    rating: 10,
  },
  {
    name: "AngularJS",
    img: "https://img.icons8.com/color/512/angularjs.png",
    rating: 20,
  },
  {
    name: "React JS",
    img: "https://img.icons8.com/color/512/react-native.png",
    rating: 14,
  },
]);

function ChangeRating(index: number, rating: number) {
  console.log("action " + index + " : " + rating);
  frameList.value[index].rating = rating;
}
const orderlist = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="ChangeRating"
        >
        </FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderlist" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
